SUPABASE_URL=https://rbkxzbpwfbyocfzbomdx.supabase.co
SUPABASE_KEY=sb_publishable__0H3jW280PU0hNwrw6C5qg_JAo72n44
DISCORD_WEBHOOK_URL = https://discordapp.com/api/webhooks/1535916292949942345/IxEDH8um8FZDq-jDJmhjblavGYEMn4egvB8v_uYgArHeSY6kLCo6mMemMiQtmcLw_uRl
